 #
 canvas1 {
     position: relative;
 }

 #
 canvas2 {
     border: 1 px solid #000;
        }
		
		img# ic {
         opacity: 0.4;
     }

         img# il {
         opacity: 0.4;
     }

         img# ir {
         opacity: 0.4;
     }
     img# im {
         opacity: 0.4;
     }